<title>Square Root</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


	<!-- Resources -->
	<script> require('./assets/js/jsxgraphcore.js') </script>
	
	<link rel="stylesheet" href="/assets/css/jsxgraph.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">


	<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
				"AssistiveMML": {
					disabled: true
				}
				});
				</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>


